* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(209, 209, 209);
}

.add-day{
  text-align: center;
}

.add-day input{
  width: 305px;
  padding: 2px 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.add-day button {
  padding: 2px 5px;
}

@media all and (max-width: 380px) {
  .add-day input {
    width: 250px;
  }
}
